.apertura__imagen-imgarticulo 
{ 
  background-image: url("../assets/images/machoraton.jfif");
}

.texto__autor-img 
{ 
  background-image: url("../assets/images/equipo2.jpg");
}

.texto > h2 
{
    margin-top: 3em; font-size: 2em;
}

#svgSections 
{
  background-color: transparent;
}

#VizPrimera 
{
  width:100%; 
  text-align:center;
}

.label {
  font-size: 2em;
  font-family: 'Roboto light';
  fill: #A4061E;
  font-weight: bold;
}

table 
{
  margin-left:auto; 
  margin-right:auto; 
  text-align:left;
}

#dvViz1 
{
  display: table; 
  min-height:430px; 
  margin-left:auto; 
  margin-right:auto; 
  text-align:left;
}

.colViz1 
{
  display: inline-block; 
  flex-direction: column;   
  position: relative;
  overflow: hidden; 
  margin: 16px auto; 
  min-height: 24em; 
  width:25em;
  margin-left:auto;
  margin-right:auto;
}

.colViz1x 
{
    flex-direction: column; 
    position: relative; 
    overflow: hidden; 
    margin: 16px auto; 
    min-height: 20em; 
    width:17em; 
    display:none;
}

.rojo:hover 
{
  fill:#A4061E;
  cursor:pointer;
}

.lblNumMuertos 
{
  font-size:3em; 
  font-family: 'Roboto Slab', serif; 
  color:#A4061E; 
  font-weight:600; 
  padding-left:2em; 
  padding-right:2em; 
}

.lblFuente 
{
  font-size:0.8em; 
  font-family: 'Roboto Condensed', sans-serif;
}

.lblLeyenda 
{
  font-size:1em; 
  font-family: 'Roboto Condensed', sans-serif; 
  padding:0.5em;
}

.lblDepto 
{
  font-size:1.2em; 
  font-family: 'Roboto Condensed', sans-serif; 
  padding:0.5em; 
  text-align:center;
}

.lblNDepto 
{
  font-family: 'Roboto Condensed', sans-serif;  
  color:#A4061E; 
  font-size:1.2em;
}

.lblNegroSerif 
{
  font-family:'Roboto Condensed', sans-serif; 
  color:#000; 
  font-size:1.2em;
}

.letraroja 
{
  font-family:'Roboto Condensed', sans-serif; 
  color:#A4061E; 
  font-size:1.1em;
}

.encabezado 
{
  text-align:center; 
  font-size:1em; 
  font-family: 'Roboto Condensed', sans-serif; 
  background-color:#000; 
  color:#fff; 
  padding-right:0.4em; 
  padding-left:0.4em; 
  padding-top:0.2em; 
  padding-bottom:0.2em;
}
