/* video */

.apertura__video {
    min-width:100%; 
    max-width:100%; 
    position:relative; 
    top:0;
    left:0; 
    margin:0; 
    padding-top:56.25%;
}
    

.apertura__video-iframe
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
}

.texto__autor-img { background-image: url("assets/images/equipo1.jpg");}

/* -------------*/
/* tarjetas */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    max-width: 1200px;
    margin: 50px auto; /* esto solo funciona cuando va con el max-width o el width*/
    padding: 0 20px;
}

.card
{
    width: 22em;
    height: 28em;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
    background-color: #000;
    color: #eee;
    transition: all .8s;

    &:hover 
    {
        border-color: #eee;
    }

    //card__header
    &__header 
    {
        position: relative;
        height: 15em;

        //card__header-img
        &-img 
        {
            position: absolute;
            top: 0px;
            width: 100%;
            display:block;
            height: 15em;
            opacity: .7;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
        }

        //card__header-tag
        &-tag 
        { 
            position: absolute; 
            top: 0;
            left: 0; 
            padding: 5px; 
            color: #000; 
            background-color: rgba(255, 255, 129, .8); 
            border-radius: 5px;
            font-family: 'Roboto';
            display: inline-block;
            font-size: small;
            border-bottom-left-radius: 0;
        }

        //card__header-title
        &-title 
        {
            position: absolute; 
            top: 60%; 
            left: 5px;
            font-family: 'Roboto bold';
            font-size: 1.5em;
            text-align: left;
            color: #fff;
        }

       
    }

    &__descrip 
    {
        margin: 20px;
        line-height: 1;
        color: #fff;
        
        p
        {
            line-height: 1.5;
            margin-top: 10px;
        }

        &-campo 
        {
            font-family: 'Roboto bold';
            text-transform: uppercase;
        }
        
        &-valor 
        {
            font-family: 'Roboto Light';
            text-transform: uppercase;
            color: rgba(255, 255, 129, 80%);
            font-family: 'Roboto';
            margin-left: 5px;
        }
    }

    
}


.imgarticulo { background-image: url("../assets/images/portada_peru.jpg");}
.imgmapa { background-image: url("../assets/images/portada_peru.jpg");}
.imglinea { background-image: url("../assets/images/portada_peru.jpg");}

.DataAnalisis {
    @include flex_contenedor (auto, auto, true);
    column-gap: 30px;
    margin: 0 auto;
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1200px;
}

.DataAnalisis div {
    width: 50%;
}

@media (max-width: 1115px)
{
    .cards 
    {
        grid-template-columns: repeat(2, 1fr);
        width: 52em;
        row-gap: 40px;
    }
}

@media (max-width: 849px)
{
    .DataAnalisis  
    {
        flex-direction: column;
    }
    .DataAnalisis > div  
    { width:100%;}
}

@media (max-width: 834px)
{
    .cards 
    {
        grid-template-columns: repeat(1, 1fr);
        width: 28em;
    }
}

@media (max-width: 700px)
{
    .apertura__video  
    { position:static; padding-top:0; }

    .apertura__video-iframe { 
        position:static; 
        height: 40%;  
        border: none;
        margin: 0;    
    }
}

@media (max-width: 485px)
{
    .cards {
        width: 100%;
    padding-left: 20px;
    }

}

@media (max-width: 360px)
{
    .cards .card {
        width: 100%;
    }
}