// colores
$amarillo: #FEFE07;
$NegroOpaco: rgba(0, 0, 0, .4);

//fotos de autores
$autores:
(
        primero: url("../assets/images/equipo1.jpg"),
        segundo: url("../assets/images/equipo2.jpg"),
        tercero: url("../assets/images/equipo3.jpg"),
);


